body {
  background-color: rgb(144, 214, 238);
}
p {
            background-color: red;
            color: white;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
        }

h1 {
    border: dashed blue;
}